[Desktop Entry]
Type=Application
Version=1.0
Name=Pyqttyai
Comment=Network Lab Management Terminal
# Use the absolute path to your python executable and main.py
Exec=python3 /home/junior/Projetos/pyqttyai/main.py
# Use the absolute path to your icon
Icon=/home/junior/Projetos/pyqttyai/pyqttyai/images/pyqttyai_256.png
Terminal=false
StartupWMClass=Pyqttyai
Categories=Development;Network;
