PyQt6>=6.5                  # GUI
paramiko>=3.3               # ssh/telnet
platformdirs>=4.0           # configs
pyinstaller>=6.0            # Windows packing
requests>=2.0               # EVE-NG
onnxruntime>=1.26           # STT - All - VAD trim with Silero
tzdata>=2026.2              # STT - All - Record and VAD
faster-whisper>=1.2         # STT - Faster Whisper
openvino_genai>=2026.1.0.0  # SST - OpenVINO via repository Hugging Face
huggingface_hub>=1.16       # SST - OpenVINO via repository Hugging Face
groq>=0.11                  # STT - Cloud - Groq
openai>=2.3                 # STT - Cloud - using OpenAI API
#optimum[openvino]>=2.1      # STT - OpenVINO Transcode ~2.5 GB (~8GB RAM)
